@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('@/assets/jungle-background.webp');
    background-size: cover;
    background-position: center;
}